.app-layout {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .sidebar {
    height: 100vh;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position: relative;
    top: 70px;
  }
  
  .sidebar.expanded {
    width: 240px;
  }
  
  .sidebar.collapsed {
    width: 70px;
  }
  
  .main-content {
    flex: 1;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
  }
  
  .app-layout.expanded .main-content {
    /* 본문이 오른쪽으로 밀려나서 지움 */
    /* margin-left: 240px; */
  }
  

  
  .app-layout.mobile .main-content {
    margin-left: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  
  .icon {
    font-size: 18px;
    width: 30px;
    text-align: center;
  }
  
  .text {
    font-size: 14px;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      position: absolute;
      z-index: 1000;
      height: 100vh;
      background-color: white;
    }

    /* 반응형으로 변경 */
    .app-layout.collapsed .main-content {
      margin-left: 70px;
    }

  }