.main-content {
    padding-top: 70px;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  /* 화면 크기가 1200px 이하일 때 (4개 이하로) */
@media (max-width: 1200px) {
    .video-container {
      grid-template-columns: repeat(3, 1fr);  /* 3개의 열로 변경 */
    }
  }
  
  /* 화면 크기가 992px 이하일 때 (3개 이하로) */
  @media (max-width: 992px) {
    .video-container {
      grid-template-columns: repeat(2, 1fr);  /* 2개의 열로 변경 */
    }
  }
  
  /* 화면 크기가 768px 이하일 때 (2개 이하로) */
  @media (max-width: 768px) {
    .video-container {
      grid-template-columns: repeat(1, 1fr);  /* 1개의 열로 변경 */
    }
  }