body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: inherit;
  color:inherit;
}

/* 기본 스타일 */
body {
  background-color: white;
  color: black;
}

/* 다크 모드 */
.dark-mode body{
  background-color: #333;
  color: white;
}

.dark-mode .header {
  background-color: #333;
  color: white;
}

/* 기타 다크모드 요소 스타일 */
.dark-mode .button {
  background-color: #333;
  color: white;
}